<h1>New Jira</h1>


<table>
	<th>issuekey</th>
	<th>Week number </th>


<% @jiraall.each do |jira| %>
	<tr>
		<td><%= jira.issuekey %></td>
		<td><%= jira.hoursintriage.strftime("%U").to_i %></td>
	</tr>
	<% end %>


<%= link_to 'Back', jiras_path %>
